<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body id="album-body">
    <header>
        <div class="header_section">
            <div class="header_item headerLogo">
                Artificial
            </div>
            <div class="albums_head">
                Albums
            </div>
        </div>
        <div class="header_section">
            <div class="header_item headerButton">
                <a href="#"><i class="fas fa-plus fa-lg"></i>
                </a>
            </div>
            <div class="header_item headerButton">
                <a href="#"><i class="fas fa-cog fa-lg"></i>
                    </a>
            </div>
            <div class="header_item headerButton">
                <a href="#"><i class="fas fa-door-open fa-lg"></i>
                </a>
            </div>
        </div>
    </header>

    <main>
        <div class="grid-albums">
            <div class="albums_main">
                Albums
            </div>
            <div class="alb-1">
                <div class="wrap_alb">
                    <div class="alb_name">
                        <span>Картиночка</span>
                        <div class="settings">
                            <a href="#"><i class="fas fa-cog"></i></a>
                        </div>
                    </div>
                    <img src="https://cdna.artstation.com/p/assets/images/images/026/746/192/large/tb-choi-.jpg?1589597672" alt="Picture">
                </div>
            </div>
            <div class="alb-2">
                <div class="wrap_alb">
                    <div class="alb_name">
                        <span>Картиночка</span>
                        <div class="settings">
                            <a href="#"><i class="fas fa-cog"></i></a>
                        </div>
                    </div>
                    <img src="https://cdna.artstation.com/p/assets/images/images/026/746/192/large/tb-choi-.jpg?1589597672" alt="Picture">
                </div>
            </div>
            <div class="alb-3">
                <div class="wrap_alb">
                    <div class="alb_name">
                        <span>Картиночка</span>
                        <div class="settings">
                            <a href="#"><i class="fas fa-cog"></i></a>
                        </div>
                    </div>
                    <img src="https://cdna.artstation.com/p/assets/images/images/026/746/192/large/tb-choi-.jpg?1589597672" alt="Picture">
                </div>
            </div>
            <div class="alb-4">
                <div class="wrap_alb">
                    <div class="alb_name">
                        <span>Картиночка</span>
                        <div class="settings">
                            <a href="#"><i class="fas fa-cog"></i></a>
                        </div>
                    </div>
                    <img src="https://cdna.artstation.com/p/assets/images/images/026/746/192/large/tb-choi-.jpg?1589597672" alt="Picture">
                </div>
            </div>
            <div class="alb-5">
                <div class="wrap_alb">
                    <div class="alb_name">
                        <span>Картиночка</span>
                        <div class="settings">
                            <a href="#"> <i class="fas fa-cog"></i></a>
                        </div>
                    </div>
                    <img src="https://cdna.artstation.com/p/assets/images/images/026/746/192/large/tb-choi-.jpg?1589597672" alt="Picture">
                </div>
            </div>
            <div class="alb-6">
                <div class="wrap_alb">
                    <div class="alb_name">
                        <span>Картиночка</span>
                        <div class="settings">
                            <a href="#"><i class="fas fa-cog"></i></a>
                        </div>
                    </div>
                    <img src="https://cdna.artstation.com/p/assets/images/images/026/746/192/large/tb-choi-.jpg?1589597672" alt="Picture">
                </div>
            </div>
        </div>
    </main>
    <script src="scripts/myAlbums.js"></script>
    <script src="https://kit.fontawesome.com/ac072ea40b.js" crossorigin="anonymous"></script>
</body>
