<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.js"></script>
</head>

<body id="album-body">
    <header>
        <div class="header_section">
            <div class="header_item headerLogo">
                <a href="/">Artificial</a>
            </div>
            <div class="albums_head" onclick="open_album()">Albums</div>
        </div>
        <div class="header_section">
            <div class="header_item headerButton" id="plus">
                <a href="#"><i class="fas fa-plus" onclick="adding()"></i>
                </a>
            </div>
            <div class="header_item headerButton" id="settings">
                <a href="#"><i class="fas fa-cog"></i>
                    </a>
            </div>
            <div class="header_item headerButton exit" id="exit">
                <a href="#"><i class="fas fa-door-open"></i>
                </a>
            </div>
        </div>
    </header>

    <main>
        <div class="albums_main">
            <a onclick="open_album()">Albums</a>
        </div>
        <div class="grid-albums">
        </div>           
    </main>
        
    <script src="scripts/myAlbums.js"></script>
    <script src="https://kit.fontawesome.com/ac072ea40b.js" crossorigin="anonymous"></script>
</body>
