<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body onscroll="bodyScroll();">
    <header>
        <div class="header_section">
            <div class="header_item headerLogo logo">
                ARTificial
            </div>
        </div>
        <div class="header_section">
            <div class="header_item headerButton">
                <a href="#"><i class="fas fa-user-plus fa-lg"></i>
                </a>
            </div>
            <div class="header_item headerButton">
                <a href="#"><i class="fas fa-external-link-alt fa-lg"></i>
                </a>
            </div>
        </div>
    </header>
    <div class="grid">

    </div>
    <script src="scripts/mainPage.js"></script>
    <script src="https://kit.fontawesome.com/ac072ea40b.js" crossorigin="anonymous"></script>
</body>

</html>
