<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/style.css">
</head>
    <main>
        <body onscroll="bodyScroll();">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
            <header>
                <div class="header_section">
                    <div class="header_item headerLogo logo">
                        ARTIFICIAL
                    </div>
                </div>
                <div class="header_section">
                    <div class="header_item headerButton">
                        <a href="#"><i class="fas fa-user-plus fa-lg"></i>
                        </a>
                    </div>
                    <div class="header_item headerButton">
                        <a href="/login"><i class="fas fa-external-link-alt fa-lg"></i>
                        </a>
                    </div>
                </div>
            </header> 
            <div class="grid">

            </div>
            <script src="scripts/mainPage.js"></script>
            <script src="https://kit.fontawesome.com/ac072ea40b.js" crossorigin="anonymous"></script>
        </body>
    </main>
</html>
