<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body id="album-body">
    <header>
        <div class="header_section">
            <div class="header_item headerLogo">
                Artificial
            </div>
            <div class="albums_head">
                Albums
            </div>
        </div>
        <div class="header_section">
            <div class="header_item headerButton" id="plus">
                <a href="#"><i class="fas fa-plus"></i>
                </a>
            </div>
            <div class="header_item headerButton" id="settings">
                <a href="#"><i class="fas fa-cog"></i>
                    </a>
            </div>
            <div class="header_item headerButton exit" id="exit">
                <a href="#"><i class="fas fa-door-open"></i>
                </a>
            </div>
        </div>
    </header>
    <main class="atwork-container">
        <div class="atwork-info">
            <section>
                <div id="title">
                    Лалалалалалалалала
                </div>
                <div id="description">
                    Описание
                </div>
            </section>
            <div class="author-info">
                <div id="author_name">
                    Лалалалалала
                </div>
                <img src="https://cdna.artstation.com/p/users/avatars/000/018/914/large/48942104e1c425ebe53e388edc107413.jpg?1590694779">
            </div>
        </div>
        <div class="atwork-data">
            <img src="https://cdnb.artstation.com/p/assets/images/images/027/439/099/large/anna-nikonova-aka-newmilky-char-dev-3.jpg?1591549784" alt="Picture">
        </div>
        <div class="atwork-data">
            <img src="https://cdna.artstation.com/p/assets/images/images/027/439/102/large/anna-nikonova-aka-newmilky-char-dev-6.jpg?1591549788" alt="Picture">
        </div>
    </main>
    <script src="https://kit.fontawesome.com/ac072ea40b.js" crossorigin="anonymous"></script>
</body>
