@font-face {
    font-family: 'Vox';
    src: url(../fonts/Vox.ttf);
}

body {
    margin: 0;
    background-color: #232323;
    font-family: 'Vox', 'Righteous', cursive;
    text-align: center;
}

#album-body {
    text-align: unset;
}

header {
    background-color: #131313;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    height: 40px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    margin: 0;
    z-index: 3;
}

.header_section {
    display: flex;
    align-items: center;
}

.header_item {
    padding: 5px 15px;
    font-size: 20px;
    color: #a2a2a2;
}

.header_item a:hover {
    color: #94b2b9;
}

.headerLogo {
    padding: 0 5px;
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
}

.logo:after {
    content: "_";
    color: #94b2b9;
}

.headerButton:hover {
    background-color: rgb(0, 0, 0);
    border-radius: 3px;
}

#exit:hover {
    background-color: rgb(151, 38, 38);
    border-radius: 3px;
}

.headerButton:hover a {
    color: #ffffff;
}

#login:hover {
    background-color: rgb(89, 148, 46);
    border-radius: 3px;
}

div [class^="item"] {
    /* padding-left: 18%;
    padding-right: 18%; */
}

.container,
.container-l {
    pointer-events: auto;
    clip-path: polygon(25% 6.25%, 0% 50%, 25% 93.75%, 75% 93.75%, 100% 50%, 75% 6.25%);
    transition: clip-path .2s ease-out, z-index .2s ease-out;
    position: relative;
    z-index: 0;
}

.container:hover {
    clip-path: polygon(0% 0%, 0% 50%, 0% 100%, 100% 100%, 100% 50%, 100% 0%);
    position: relative;
    z-index: 1;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.ov_one {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    height: 50%;
    width: 100%;
    mix-blend-mode: color-dodge;
    transition: opacity .2s ease-out, clip-path .2s ease-out;
    transform: scaleY(-1);
    background-color: #222222;
}

.ov_two {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transform: scaleY(-1);
    clip-path: polygon(0% 0%, 0% 100%, 78.8% 100%, 21.4% 0%);
    transition: opacity .2s ease-out, clip-path .2s ease-out;
    mix-blend-mode: multiply;
    background-color: #cccccc;
}

.ov_three {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: opacity .2s ease-out, clip-path .2s ease-out;
    clip-path: polygon(0% 0%, 0% 100%, 78.8% 100%, 21.4% 0%);
    mix-blend-mode: color-dodge;
    background-color: #222222;
}

.container:hover .ov_one {
    opacity: 0;
}

.container:hover .ov_two {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 0% 0%);
    opacity: 0;
}

.container:hover .ov_three {
    opacity: 0;
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 0% 0%);
}

div [class^="loading"] {
    width: 43%;
    animation: rotate 1.5s infinite;
}

.img_wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*Albums*/

.albums_head {
    text-transform: none;
    font-size: 26px;
}

div[class^='albums_'] {
    color: #94b2b9;
}

div[class^='albums_']::before {
    content: ":\\Username\\";
    color: #a2a2a2;
}

div[class^='albums_']::after {
    content: "_";
    color: #94b2b9;
}

.albums_main {
    display: none;
    overflow-wrap: break-word;
    background-color: #9a979757;
    padding: 0 15px;
    font-size: 22px;
}

.headerButton a {
    color: #a2a2a2;
}

.grid-albums {
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    row-gap: 12%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 3%;
}

main {
    margin: 50px 0;
}

.alb_name {
    background-color: #797777;
    z-index: 1;
    width: inherit;
    display: grid;
    justify-content: space-between;
    height: 22.5px;
    line-height: 22.5px;
    grid-template-columns: repeat(8, 12.5%);
}

.rename,
.delete {
    color: #ffffff;
    display: none;
    justify-self: center;
}

.rename:hover {
    color: #94b2b9;
}

.delete:hover {
    color: rgb(151, 38, 38);
}

.rename {
    grid-column: 2/5;
    grid-row: 2/3;
}

.delete {
    grid-column: 5/8;
    grid-row: 2/3;
}

.settings i {
    color: #ffffff;
}

.settings {
    padding: 0 6px;
    justify-self: end;
}

.settings>i:hover {
    color: #94b2b9;
}

span {
    color: #ffffff;
    display: inline-block;
    padding: 0 5px;
    overflow: hidden;
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    grid-column: 1/8;
    /*новое*/
    grid-row: 1/2;
}

span::after {
    content: "_";
    color: #94b2b9;
}

span::before {
    content: ">";
}

.wrap_alb {
    width: 20vw;
    height: 15vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.wrap_alb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.modal {
    display: none;
    position: fixed;
    z-index: 150;
    padding-top: 100px;
    left: 0;
    top: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    position: relative;
    //background-color: #94b2b9;
     background-color: #404040;
    margin: auto;
    width: 55%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-header,
.modal-body,
.modal-footer {
    padding: 2%;
}

.modal-header {
    background-color: #4e4e4d;
    color: #ffffff;
    font-size: 20px;
}

.modal-body {
    font-size: 17px;
    display: flex;
}

.modal-footer {
    background-color: #4e4e4d;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

#rename {
    background: #cccccc;
    width: 100%;
    position: relative;
    border: none;
    margin-left: 0.5rem;
    outline: none;
    background-color: unset;
    font-size: 17px;
    font-family: 'Vox', 'Righteous', cursive;
    padding: unset;
}

button {
    width: 49%;
    margin: unset;
    background-color: #292927;
    font-family: "Vox";
    font-size: 15px;
    color: #ffffff;
    border: unset;
    height: 40px;
    outline: none;
}

button:hover {
    background-color: #131313;
}

@media screen and (max-width: 960px) {
    .grid-albums {
        grid-template-columns: 1fr 1fr;
        row-gap: 8%;
    }
    .wrap_alb {
        width: 40vw;
        height: 30vw;
    }
    .albums_head {
        display: none;
    }
    .albums_main {
        display: block;
    }
    .albums_main {
        display: block;
        height: 50px;
        line-height: 50px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 2%;
    }
    .header_item {
        padding: 5px 10px;
    }
    .modal-body,
    #rename {
        font-size: 17px;
    }
    .modal-header {
        font-size: 20px;
    }
    .modal-content {
        width: 75%;
    }
}

@media screen and (max-width: 576px) {
    .grid-albums {
        grid-template-columns: 1fr;
        row-gap: 3%;
    }
    .wrap_alb {
        width: 80vw;
        height: 60vw;
    }
    .albums_head {
        display: none;
    }
    .albums_main {
        display: block;
        height: 50px;
        line-height: 50px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 6%;
    }
    .header_item {
        padding: 5px 10px;
    }
    .modal-body,
    #rename {
        font-size: 17px;
    }
    .modal-content {
        width: 95%;
    }
}
div[class^='modal-body'] label, div[class^='modal-body'] input{
    color: white;        
}
